# Ambiente virtual Python
venv/
.venv/
env/

# Bytecode e caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp
*.temp
